.test{
    width: 90%;
    margin: auto;
  
}

.inner{
    display: flex;
    align-items: left;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 100px;
    margin-top:  -50px;
}